.inline-photo {
  border: 1em solid #fff;
  border-bottom: 4em solid #fff;
  border-radius: 0.25em;
  box-shadow: 1em 1em 2em 0.25em rgba(0, 0, 0, 0.2);
  margin: 2em auto;
  opacity: 0;
  transform: translateY(4em) rotateZ(-4deg);
  transition: transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1),
    opacity 0.3s 0.25s ease-out;
  max-width: 600px;
  width: 90%;
  will-change: transform, opacity;
}

.inline-photo.is-visible {
  opacity: 1;
  transform: rotateZ(-2deg);
}

.header {
  opacity: 0;
  transition: opacity 0.3s 0.25s ease-out;
}

.header.is-visible {
  opacity: 1;
}

.main-photo {
  transform: scale(0.8);
}

.heading {
  transform: translate(-50%, calc(-50% + 0.3em));
}

.is-visible .main-photo {
  transform: none;
}

.is-visible .heading {
  transform: translate(-50%, -50%);
}

.main-photo,
.heading {
  transition: transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1);
  will-change: transform;
}
